
.bg-grey{
    background-color: #7c7c7d !important
}

.bg-lightBlue{
    background-color: #7BA2B9 !important
}

.bg-whiteish{
    background-color: #C9D0DB !important
}
.bg-lightGrey{
    background-color: #AEB3BF !important
}

.bg-lightGreen{
    background-color: #AFC7BC !important
}

.text-lightGreen{
    color: #AFC7BC !important
}
